
/*
 * Modal post
 * ------------------
*/ 
.fanci-modal--post .fanci-avatar { 
  top: 20px;
  left: -60px;
}
.fanci-modal--post .mdl-card__supporting-text {
  padding-top: 10px;
  padding-left: 90px;  
}  
.fanci-modal--post .mdl-icon-toggle__label.material-icons {
  top: 15px;
  right: -10px;
}