/**
 * Application's main styles
*/
html, body { 
  background-color: #ddd;
}




/* - delete after - */
main {
  /*padding: 20px;*/
  flex-direction: column;
}
.mdl-card {
  margin-bottom: 20px;
}
/* - delete after - */


