body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


main {
	display: flex;
	height: 400px;
	border: 1px solid red;
}
aside {
	border: 1px solid lime;
}
.center {
	border: 1px solid gray;
}