body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


main {
	display: flex;
	height: 400px;
    align-items: center;
    justify-content: center;
}
.template-auth {
	background: chocolate;
}
.template-main {
	background: turquoise;
}
.test-links {
	background: lime;
	    padding: 10px;
}
.test-links ul {
	list-style: none;
}
.test-links ul li {
	display: inline-block;
	margin-right: 10px;
} 