/**
 * Global layout
 * -------------
 * -------------
*/


body {
  margin: 0;
  padding: 0; 
  background-color: #ddd;
}


/**
 * Drawer
 * -------------
*/
.mdl-layout__drawer>.mdl-layout-title {
	margin-top: 15px;
}