body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


main {
	display: flex;
	height: 400px;
	border: 1px solid red;
}
.test-links {
	background: lime;
}
.test-links ul {
	list-style: none;
}
.test-links ul li {
	display: inline-block;
	margin-right: 10px;
}
.center {
	background: gray;
	flex: 0.2;
}