
.team-firebase {
	width: 100%;
}
.team-firebase > div{
	display: flex;
  width: 100%;
  height: 400px;
  border:3px solid red;
  overflow-y: scroll;
}
.team-firebase > h1{
	margin-top: 40px;
	text-align: center;
}

.user-avatar {
	width: 50px;
	border-radius: 50px;
}

.team-firebase nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.team-firebase nav > div {
    margin: 0 20px;
}
.team-firebase .crud-from,
.team-firebase .fanci-list {
	flex: 1;
	padding: 50px 20px;
}
.team-firebase .crud-from {
	background-color: lime;
} 
.team-firebase .fanci-list {
	background-color: turquoise;
}
.team-firebase .fanci-list-item {
	margin-bottom: 20px;
}


.team-firebase input[disabled],
.team-firebase select[disabled],
.team-firebase textarea[disabled],
.team-firebase button[disabled]{
  background-color: #ccc;
}

.team-firebase .error {
  margin-top: 0;
  background-color: red;
}



/** --- delete this after --- **/
.team-firebase .add-item input,
.team-firebase .add-item select,
.team-firebase .add-item button,
.team-firebase .add-item textarea {
  display: block;
  border: 1px solid #999;
      width: 100%;
  margin-bottom: 10px;
}
/** --- delete this after --- **/